.btn-arrow {
  margin: 30px 0 15px 0;
  cursor: pointer;
  border: none;
  background-color: var(--back-transp);
  height: 19px;
  width: 34px;
}

.btn-arrow svg {
  stroke: var(--txt-nonactive);
}

.btn-arrow:hover svg {
  stroke: var(--txt-active);
}

.btn-arrow.active {
  transform: scaleY(-1);
}


/* switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--txt-nonactive);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--back-main);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--back-main);
}

input:checked + .slider:before {
  background-color: var(--txt-active);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-add {
  margin: 10px;
  background-color: var(--btn-add);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 17px;
  font-size: 22px;
  color: var(--txt-active);
  padding: 0 30px 0 30px;
  opacity: 0.8;
}

.btn-shed {
  margin: 10px;
  background-color: var(--back-main);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 17px;
  font-size: 22px;
  color: var(--txt-active);
  padding: 0 30px 0 30px;
  opacity: 0.8;
}

.btn-shed:hover {
  opacity: 1;
  box-shadow: 5px 5px 5px black;
}

.btn-add:hover {
  opacity: 1;
  box-shadow: 5px 5px 5px black;
}

.btn-del {
  margin: 10px;
  background-color: var(--btn-del);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 17px;
  font-size: 22px;
  color: var(--txt-active);
  padding: 0 30px 0 30px;
  opacity: 0.8;
}

.btn-del:hover {
  opacity: 1;
  box-shadow: 5px 5px 5px black;
}

.btn-del.small {
  font-size: 19px;
}

.btn-add.small {
  font-size: 19px;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.btn-sect {
  margin: 10px;
  background-color: var(--back-main);
  cursor: pointer;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 17px;
  font-size: 22px;
  color: var(--txt-active);
  padding: 0 30px 0 30px;
  opacity: 0.6;
}

.btn-sect.active {
  opacity: 1;
  box-shadow: 5px 5px 5px black;
}

.ac-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ac-controls button {
  width: auto;
  height: 34px;  
  margin: 5px;
  background-color: rgb(114, 165, 188);
  cursor: pointer;
  border: none;
  border-radius: 17px;
  font-size: 22px;
  color: var(--txt-active);
  padding: 0 20px 0 20px;
  box-shadow: 5px 5px 5px rgb(125, 125, 125);
}

.ac-controls button.heat {
  background-color: rgba(210, 165, 125, 0.4);
}

.ac-controls button:hover {
  background-color: rgba(125, 175, 210, 0.4);
}