.device-card {
    color: var(--txt-active);
}

.device-card {
    display: grid;
    gap: 20px;
}

.device-card.current {
    opacity: 1;
    box-shadow: 5px 5px 5px gray;
}

.device-card div.device-card__main {
    display: flex;
    justify-content: space-between;
}

.device-card__params {
    display: grid;
    gap: 10px;
}

.device-card__name {
    color: gray;
    font-weight: lighter;
}

.device-card__name.on {
    color: var(--name-hl);
    font-weight: bolder;
}

.slider-dim {
    color: black;
}

.device-card select {
    border-style: none;
    color: var(--txt-dark);
    background-color: var(--back-main);
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

