.device-card {
    color: var(--txt-active);
}

.device-card {
    display: grid;
    gap: 20px;
}

.controls {
    color: var(--txt-active);
    max-height: fit-content;    
}

.device-card.current {
    opacity: 1;
    box-shadow: 5px 5px 5px gray;
}

.device-card div.device-card__main {
    display: flex;
    justify-content: space-between;
}

.device-card__params {
    display: grid;
    gap: 10px;
}

.device-card__name {
    color: gray;
    font-weight: lighter;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.device-card__name.on {
    color: var(--name-hl);
    font-weight: bolder;
}

.slider-dim {
    color: black;
}

.device-card select {
    border-style: none;
    color: var(--txt-dark);
    background-color: var(--back-main);
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

.device-icon {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 10px 10px 10px 30px;
}

.icon-small {
    border-radius: 12px;
    height: 24px;
    width: 24px;
    margin: 10px 15px 10px 10px;
    background-color: gray;
}

.icon-small.active {
    border-radius: 14px;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 255, 240);
    box-shadow: 0 0 10px 5px rgba(255, 255, 240, 0.8)
}

