@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 scroll-behavior: smooth;  
 font-family: 'Open Sans', sans-serif;
--txt-active: #FFFFFF;
--txt-nonactive: #d7d7d7;
--txt-dark: #5a5a5a;
--btn-add: #5AB500;
--btn-del: #B50000;
--back-main: rgba(255, 255, 255, 35%);
--back-transp: rgba(255, 255, 255, 0%);
--name-hl: #fff39b;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

